/* Importando uma fonte externa para o projeto*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Habilitar border-box para os elementos tenham o tamanho defido na folha */
* {
  box-sizing: border-box;
}

/* Zerar o padding e margin do site */
body {
  font-family: "Open Sans", sans-serif;
  color: #7E6D86;
  margin: 0;
  padding: 0;
}

/* Organização do plano de fundo */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/background_sky.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

section .container {
  display: flex;
  flex-direction: column;
  background: #ffffff10;
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff30;
  border-radius: 20px;
  width: 550px;
  height: 600px;
}

section .title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section .title h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0
}

section form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section fieldset {
  border: 0px;
  padding: 0;
  margin: 0;
}

section legend {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-size: 20px;
}

section .conteud {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0;
}

section .dados_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section .dados_name {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section .dados_lastname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

section .dados_2 input {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

section input {
  font-family: "Open Sans";
  width: 95%;
  padding: 3px;
  color: #7E6D86;
  border-radius: 5px;
  background-color: #ffffff20;
  border: 2px solid #ffffff30;
  outline: unset;
}

section .dados_2 input {
  width: 47.5%;
}

section select {
  font-family: "Open Sans";
  padding: 3px;
  color: #7E6D86;
  border-radius: 5px;
  background-color: #ffffff20;
  border: 2px solid #ffffff30;
  width: 100%;
  outline: unset;
  cursor: pointer;
}

section .tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section .tech input {
  width: auto;
}

section .check1,
.check2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section .option {
  background-color: #fff;
  color: #000;
}

section input[type=checkbox],
.tech label {
  cursor: pointer;
}

section .conteud textarea {
  font-family: "Open Sans";
  padding: 3px;
  color: #7E6D86;
  border-radius: 5px;
  background-color: #ffffff20;
  border: 2px solid #ffffff30;
  outline: unset;
  width: 100%;
  height: 65px;
  resize: none
}

section .text_resume {
  padding-bottom: 6px;
}

section .button {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section button {
  width: 200px;
  cursor: pointer;
  padding: 3px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  color: #7E6D86;
  border-radius: 5px;
  background-color: #ffffff20;
  border: 2px solid #ffffff30;
}

section button:hover {
  background-color: #ffffff50;
}

@media (max-width:560px) {
  section .container {
    width: 360px;
  }

  section .title h1 {
    font-size: 28px;
  }

  section input {
    font-size: 12px;
  }

  section legend {
    font-size: 14px;
  }

  section label {
    font-size: 14px;
  }

  section select {
    font-size: 12px;
  }

  section button {
    width: 160px;
    font-size: 14px;
  }

  section .tech {
    display: flex;
    flex-direction: column;
  }

  section .tech input {
    width: auto;
  }

  section .check1,
  .check2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}